@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model conectados.ViewModels.RegisterUserDTO;
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Registrarse";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth-styles.css" asp-append-version="true" />
}


<main class="custom-auth-container">
    <section class="custom-auth-card">
        <h4>Creá tu cuenta</h4>
        <div class="mt-3">
            <form method="post" asp-controller="Auth" asp-action="Register">
                <fieldset class="d-flex flex-column gap-1 mb-4">
                    <div>
                        <label class="custom-input-label" for="FullName">Nombre Completo</label>
                        <input class="custom-form-input" id="FullName" type="text" placeholder="Pepe Peperino" required asp-for="FullName" />
                    </div>

                    <div>
                        <label class="custom-input-label" for="Email">Email</label>
                        <input class="custom-form-input" id="Email" type="email" placeholder="example@email.com" required asp-for="Email" />
                    </div>
                    <div>
                        <label class="custom-input-label" for="Password">Contraseña</label>
                        <input class="custom-form-input" id="Password" type="password" placeholder="******" required asp-for="Password" />
                    </div>
                    <div>
                        <label class="custom-input-label" for="ConfirmPassword">Confirmar Contraseña</label>
                        <input class="custom-form-input" id="ConfirmPassword" type="password" placeholder="******" required asp-for="ConfirmPassword" />
                    </div>
                </fieldset>

                @if (ViewData["ErrorMessage"] != null)
                {
                    <p class="custom-error-text mb-1" role="alert">@ViewData["ErrorMessage"]</p>
                }
                <div class="d-flex justify-content-center">
                    <button class="custom-button" type="submit">Registrarse</button>
                </div>

                <p class="custom-auth-footer-action">
                    ¿Ya tienes una cuenta? <a asp-controller="Auth" asp-action="Login" class="ms-1">Ingresá Ahora</a>
                </p>
            </form>
        </div>
    </section>
</main>